@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-bellefair{
  font-family: "Bellefair", serif;
}
.font-barlow{
  font-family: "Barlow", sans-serif;
}
.font-barlow-condensed{
  font-family: "Barlow Condensed", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* 
@layer components{
  interactive elements states
  .tabs-idle{}
  .tabs-active{}
  .tabs-hover{}
  .nav-idle{}
  .nav-active{}
  .nav-hover{}
  .slider-1-idle{}
  .slider-1-active{}
  .slider-1-hover{}
  .slider-2-idle{}
  .slider-2-active{}
  .slider-2-hover{}


  typography
  .heading-1{
    @apply
  }
  .heading-2{}
  .heading-3{}
  .heading-4{}
  .heading-5{}
  .sub-heading-1{}
  .sub-heading-2{}
  .nav-text{}
  .body-text{}

} */
